<%- include("partials/header") -%>

<h1>Home</h1>
<p><%= homeContent %></p>

<% newPosts.forEach(function(post){ %>
    <h1><%= post.theTitle %></h1>
    <p><%= post.thePost.substring(0,100)+(" ... ") %>
        <a href="/posts/<%= post.case %>">Read More</a>
    </p>
<% }) %>

<%- include("partials/footer") -%>